
.container{
    position: relative;
    width: 1366;
    height: 630px;
    background: #F3F5FC;
}
.logo{
    position: absolute;
    width: 114px;
    height: 44px;
    left: 38px;
    top: 25px;
}
.imglogo{
    height: 44px;
    width: 27%;
    left: 42px;
    top: 0px;
    border-radius: 0px;    
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}
.textoingresado{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 228px;
    top: 103px;
    border: none;
}
#cuadrotexto{
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    width: 70%;
    height: 70%;
    left: 228px;
    top: 103px;
    background: #F3F5FC;
    resize: none;
    color: #0A3871;
}
#cuadrotexto::placeholder{
    color: #0A3871;
}
.textoencriptado{
    background: red;
    position: absolute;
    width: 379px;
    height: 581px;
    left: 949px;
    top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
#imgmuñeco{
    position: absolute;
    width: 319px;
    height: 187px;
    left: 30px;
    margin-top: 174px;
}

#mnsjsresultado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 319px;
    height: 75px;
    left: 30px;
    top: 381px;
}
.mnsj{
    width: 319px;
    height: 36px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;
    color: #343A40;
}
.mnsj2{
    width: 319px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #495057;
}
#texto2{
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    display: none;
    resize: none;
}
#btncopiar{
    display: none;
    position: absolute;
    width: 311px;
    height: 44px;
    left: 30px;
    top: 520px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 18px;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 645px;
    height: 41px;
    left: 228px;
    top: 544px;
}
.contenedoraviso{

    position: absolute;
    width: 217px;
    height: 11px;
    left: 228px;
    top: 520px;
}
.simbolo{
    display: inline;
    width: 5%;
    height: 11px;
}
.aviso{
    display: inline;
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}
.btnen{
    padding: 24px;  
    width: 311px;
    height: 41px;
    color: white;
    background: #0A3871;
    border-radius: 18px;
}

.btndes{    
    padding: 24px;
    width: 311px;
    height: 41px;
    color: #0A3871;
    background: #D8DFE8;

    border: 2px solid #0A3871;
    border-radius: 18px;

}