
body{
    background: #F3F5FC;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    background: #F3F5FC;
}
.logo{
    position: relative;
    width: 11.7%;
    height: 4.7%;
    top: 2.7%;
    float: left;
}
.imglogo{
    position: relative;
    width: 25.9%;
    height: 100%;
    margin: 0 38%;
}
.textoingresado{
    position: relative;
    width: 55%;
    height: 50%;
    top: 16.4%;
    border: none;
    display: inline-block;
}
#cuadrotexto{
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    width: 100%;
    height: 70%;
    background: #F3F5FC;
    resize: none;
    color: #0A3871;
}
#cuadrotexto::placeholder{
    color: #0A3871;
}
.textoencriptado{
    position: relative;
    width: 25%;
    height: 92%;
    top: 2.7%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: inline-block;
    float: right;
    margin-right: 3%;
}
.containermuñeco .imgmuñeco2{
    position: relative;
    width: 95%;
    height: 40%;
    margin: auto;
    top: 40%;
}
#mnsjsresultado{
    position: relative;
    width: 90%;
    height: 75px;
    margin: 0 auto;
}
.mnsj{
    position: relative;
    width: 100%;
    height: 70%;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;
    color: #343A40;
}
.mnsj2{
    position: relative;
    width: 100%;
    height: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    text-align: center;

    color: #495057;
}
#texto2{
    position: relative;
    margin-top: 5%;
    margin-left: 2%;
    width: 95%;
    height: 30%;
    border: none;
    display: none;
    resize: none;
}
#btncopiar{
    display: none;
    position: relative;
    width: 80%;
    height: 10%;
    margin-left: 10%;
    top: 55%;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 18px;
}
.botones{
    position: relative;
    width: 50%;
    height: 10%;
    left: 10%;
    top: 32%;
}
.contenedoraviso{
    position: relative;
    width: 35%;
    height: 2%;
    left: 10%;
    top: 30%;
    display: inline-block;
}
.simbolo{
    display: inline;
    width: 5%;
    height: 100%;
}
.aviso{
    display: inline;
    width: 40%;
    height: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}
.btnen{
    padding: 24px;  
    width: 100%;
    height: 100%;
    color: white;
    background: #0A3871;
    border-radius: 18px;
    display: inline;
}

.btndes{    
    padding: 24px;
    width:100%;
    height: 100%;
    color: #0A3871;
    background: #D8DFE8;

    border: 2px solid #0A3871;
    border-radius: 18px;
}
.btndesencriptar, .btnencriptar{
    position: relative;
    display: inline-block;
    width: 40%;
    margin: 0 0 0 5%;
}
.copyright{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #343A40;
}
@media screen and (max-width: 800px) {
    .container{
        height: 1174px;
    }
    .textoingresado{
        float: none;
        width: 688px;
        margin: 0 auto;
        height: 288px;
    }
    #cuadrotexto{
        height: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }
    .botones{
        position: absolute;
        width: 760px;
        height: 116px;
        left: 40px;
        top: 870px;
    }
    .btnencriptar, .btndesencriptar{
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        
        width: 332px;
        height: 67px;
        display: inline-block;
    }
    .btndes, .btnen{
        width: 284px;
        height: 19px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

    }
    .textoencriptado{
        float: none;
        position: absolute;
        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
        margin: 0 auto;
    }
    .contenedoraviso{
        position: absolute;
        width: 229px;
        height: 18px;
        left: 40px;
        top: 836px;
    }
    .aviso{
        font-size: 14px;
        line-height: 150%;
    }
    .containermuñeco{
        display: none;
    }
    .copyright{
        font-size: 16px;
        margin: 0 auto;
    }
    #btncopiar{

        width: 624px;
        height: 67px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin: 0 auto;
    }
    #texto2{
        height: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 460px) {
    .container{
        width: 100%;
        height: 933px;
    }
    .textoingresado{
        float: none;
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }
    .botones{
        height: 158px;
    }
    .botones, .btnencriptar, .btndesencriptar, .texto2, .textoencriptado{
        display: block;
        width: 90%;
        margin: 0 auto;
        display: block;
        gap: 8px;
    }
    .btndes, .btnen{
        width: 100%;
        height: 67px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        display: block;
    }
    #btncopiar{
        width: 100%;
        margin: 0 auto;
    }
    .copyright{
        position: relative;
        top: 300px;
    }
    .textoingresado{
        top: 50px;
    }
    .contenedoraviso{
        top: 600px;
    }
    .botones{
        top: 650px;
    }
    .textoencriptado{
        top: 850px;
    }
}